{% if site.donations.paypal %}
  	<form action="https://www.paypal.com/donate" method="post" target="_top", style="text-align: right">
	<input type="hidden" name="business" value="{{ site.donations.paypal.id | default: 'UNCONFIGURED' }}" />
	<input type="hidden" name="amount" value="5" />
	<input type="hidden" name="no_recurring" value="0" />
	<input type="hidden" name="item_name" value="Thank you for helping me help you!" />
	<input type="hidden" name="currency_code" value="EUR" />
	<input type="image" src="/img/btn_donate_LG_coffee.png" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
	<img alt="" border="0" src="https://www.paypal.com/en_DE/i/scr/pixel.gif" width="1" height="1" />
	</form>
{% endif %}