<!-- NAVBAR
================================================== -->
<img src='/img/linkedin25x25.png' style='display: none' /> 
<img src='/img/xing25x25.png' style='display: none' /> 

    <div class="navbar-wrapper">

      <div class="container"> 

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">

          <div class="container">  

            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              
              <div class="navbar-brand-custom"><a href="/" class="home">Edouard Fouché</a></div>
              
              
              
              
            </div>

            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <!-- <li><a href="/index/" class="home" style="font-size:18px">Edouard Fouché's blog</a></li> -->
                <li><a href="/about/" class="about">About</a></li>
                <li><a href="/cv/" class="cv">CV</a></li>
                <!-- <li><a href="/projects.html">Projects</a></li> -->
                <!-- <li><a href="/contact/" class="contact">Contact</a></li> -->

              </ul>

              <ul class="nav navbar-nav navbar-right">
                  <a class="link-icon" id="flickr" href="https://www.flickr.com/photos/edouardf" target="_BLANK"> <img src='/img/flickr25x25.png' id="flickr-container" alt=""> <!-- <div id="flickr-container"> </div> --> </a>

                  <a class="link-icon" id="twitter" href="https://twitter.com/edouardfouche" target="_BLANK"> <img src='/img/twitter25x25.png' id="icon-container" alt=""> <!-- <div id="twitter-container"></div> --> </a>

                  <a class="link-icon" id="facebook" href="https://www.facebook.com/edouardf" target="_BLANK"> <img src='/img/facebook25x25.png' id="icon-container" alt=""> <!-- <div id="facebook-container"> </div> --> </a>

                  <a class="link-icon" id="xing" href="https://www.xing.com/profile/Edouard_Fouche" target="_BLANK"> <img src='/img/xing25x25.png' id="icon-container" alt=""> <!--<div id="xing-container"> </div> --> </a>

                  <a class="link-icon" id="linkedin" href="https://www.linkedin.com/in/edouardfouche" target="_BLANK"> <img src='/img/linkedin25x25.png' id="icon-container" alt=""> <!--<div id="linkedin-container"></div> --></a>
                  
                  <a class="link-icon" id="github" href="https://github.com/edouardfouche" target="_BLANK"> <img src='/img/github25x25.png' id="icon-container" alt=""> </a>

                  <a class="link-icon" id="rss" href="https://edouardfouche.com/feed.xml" target="_BLANK"> <img src='/img/rss25x25.png' id="icon-container" alt=""> </a>


                  

                  


              </ul> 

            </div>
          </div> 

        </div>

      </div> 

    </div>

    <!-- END OF NAVBAR
================================================== -->
