<!doctype html>
<html lang="en">

  {% include head.html %}
  
  <body class="about">

  {% include navbar.html %}
    

    <div class="space"></div>


    <div class="content-wrapper">
    <div class="container">
    <div class="row" style=" margin-right: 0px ;" >

    <!-- This part is dedicated to the design of the left column -->
    <div class="col-xs-12 col-md-10">

    <div class="title-wrapper">
        <h1 class="content-title" id="sec0"> 
            Hi ! I'm Edouard
        <h1>
    </div>

    <div class="subcontent-wrapper">

              <div class="profilpic">
                <img src="/img/profilpic.jpg" alt="Profil picture" />
              </div>

              <p class="content-paragraph">
                I am a computer scientist and a data lover. 
                <br>
                I like to speak about Machine Learning and AI. 
                <br>
                <br>
                I have a <a href="/cv/">CV</a>, if you want to know more about me. 
                <br>
              </p>

              <h1>How to contact me</h1>
              <p class="content-paragraph">
                I can be reached <a href="mailto:edouard.fouche@kit.edu">via email</a> ! 
                <br>
                My public key certificate is <a href="/pki_Edouard_Fouche.pem">here</a>.
                <br>
                For any question or request, feel free to send me a message.
                <br>
                You can also ping me on <a href="https://www.linkedin.com/in/edouardfouche">Linkedin</a>.
              </p>

    </div>

    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>

    </div>
    </div>

    </div>

        <div class="space"></div>

        {% include footer.html %}

    </div>



  {% include script.html %}

  </body>

</html>