<!doctype html>
<html lang="en">

  {% include head.html %}
  
  <body class="cv">

  {% include navbar.html %}
    

    <!-- <div class="space"></div> -->

    <div class="content-wrapper">
      <div class="container">
        <div class="row" style=" margin-right: 0px ;" >

          <!-- This part is dedicated to the design of the left column -->
          <!-- <div class="col-xs-12 col-md-10"> -->
          <!-- <div class="col-md-9"> -->

          <div class="title-wrapper">
        <h1 class="content-title" id="sec0"> 
            Summary
        <h1>
    </div>

    <div class="subcontent-wrapper">
            <!--
              <div class="profilpic">
                <img src="/img/profilpic.png" alt="Profil picture" />
              </div>
              -->
              <p class="content-paragraph">
              Hello, I am a researcher in computer science at the Karlsruhe Institute of Technology (KIT). I am currently interested in problems involving sequential decision making, in particular concerning dynamic, non-stationary settings. I study new methods, based on Bandit Algorithms or Reinforcement Learning, to tackle important real-world challenges. I am also interested in tasks like outlier detection, clustering, correlation analysis, and generally, learning from high-dimensional data streams. 
              </p>

              <p class="content-paragraph" style="text-indent:2em">
                My dissertation, "Estimating Dependency, Monitoring, and Knowledge Discovery in High-Dimensional Data Streams" (Advisor: Prof. Klemens Böhm) received the highest distinction (Summa Cum Laude) and the Helmholtz Doctoral Prize 2020. I hold a Master's degree in Computer Science from KIT and a Master's degree in Engineering from ESIEE Paris. I have advised 10+ students for their Master/Bachelor's theses and conducted multiple projects with major industry actors (such as Daimler, BMW, IBM, ...). I also have recently graduated from an MBA at the Quantic School of Business and Technology.
              </p> 
              
              <p class="content-paragraph">
                You will find my resume below. See also my list of <a href="/publications/">publications</a>. 
              </p>

            </div>

            <div class="title-wrapper">
              <h1 class="content-title" id="sec1"> 
                Curriculum Vitae
              <h1>
            </div>

            <div class="subcontent-wrapper">
            <object data="/Resume_CV_FOUCHE.pdf" type="application/pdf" style="min-height:100vh;width:100%">
        <p>It appears that this browser does not support embedded PDFs. Please download the PDF to view it: <a href="/Resume_CV_FOUCHE.pdf">Download PDF</a>.</p>
          </object>
            </div>

<!--
            <div class="title-wrapper">
              <h1 class="content-title" id="sec1"> 
                Experience
              <h1>
            </div>



            <div class="subcontent-wrapper">

              <div class="information-line">

                <div class="main-info">
                  
                  <div class="info-icon">
                  	
                    <a class="dropdownbutton" id="dropdown_4_f"> 
                   	
                      <img src="/img/xp.png" alt="icon" />
                    
                        See more 
                    </a> 
                    
                  </div>

        
                  <div class="name-and-diplom">
                    <h2 class="university-name">
                      Postdoctoral Researcher in Data Science
                    </h2>
                    <p class="grade-diplom">
                      @ Karlsruhe Institute of Technology
                    </p>
                    <p class="from-to">
                      From 08/20 to <span style="color:#00828d">now</span>
                    </p>
                  </div>

                  <div class="university-icon collapsemewhentoosmall1">
                    <img src="/img/kit100x46.png" alt="uni-icon" />
                  </div>

                </div>
                
                
                <div class="more-info" id="dropdownwrap_4_f" style="text-indent:2em">
                <p>
                	- Conducting independent research, collaborations and student theses.
                </p>
                <p>
                  - Co-supervision of 4+ doctoral students, Data Science lecturer.
                </p>
                <p>
                  - Organizer for chair-wide meetings, coaching and mentoring.
                </p>
                </div>
                
              


              </div>

              
              <div class="information-line">

                <div class="main-info">
                  
                  <div class="info-icon">
                  	
                    <a class="dropdownbutton" id="dropdown_4_e"> 
                   	
                      <img src="/img/xp.png" alt="icon" />
                    
                        See more 
                    </a> 
                    
                  </div>

        
                  <div class="name-and-diplom">
                    <h2 class="university-name">
                      Researcher & Ph.D. Candidate in Data Science
                    </h2>
                    <p class="grade-diplom">
                      @ Karlsruhe Institute of Technology
                    </p>
                    <p class="from-to">
                      From 11/16 to 07/20
                    </p>
                  </div>

                  <div class="university-icon collapsemewhentoosmall1">
                    <img src="/img/kit100x46.png" alt="uni-icon" />
                  </div>

                </div>
                
                
                <div class="more-info" id="dropdownwrap_4_e" style="text-indent:2em">
                <p>
                - Advised 10+ student theses (Master/Bachelor level).
				</p>
				<p>
                - Worked with 2 research labs (UIUC, U of Tokyo) and 5 industry partners.
                </p>
                <p>
                - Published 8 peer-reviewed papers and a doctoral thesis.
                </p>
                <p>
                - Member of the DFG Research Training group 2153: <a href="https://www.energystatusdata.kit.edu/">"Energy Status Data"</a>.
                </p>
                </div>
                
              </div>



              <div class="information-line">

                <div class="main-info">

                  <div class="info-icon">
                    <a class="dropdownbutton" id="dropdown_4_d"> 
                      <img src="/img/xp.png" alt="icon" />
                        See more 
                    </a> 
                  </div>
        
                  <div class="name-and-diplom">
                    <h2 class="university-name">
                      Graduate Research Intern
                    </h2>
                    <p class="grade-diplom">
                      @ IBM Deutschland R&D GmbH - Böblingen
                    </p>
                    <p class="from-to">
                      From 04/15 to 10/16 (1.5 year)
                    </p>
                  </div>

                  <div class="university-icon collapsemewhentoosmall1">
                    <img src="/img/ibm100x50.png" alt="uni-icon" />
                  </div>

                </div>
                
                <div class="more-info" id="dropdownwrap_4_d" style="text-indent:2em">
                <p>
                - Created ibmdbpy, an open-source interface between Python and DB2.
				        </p>
                <p>
                - Co-supervision of two fellow interns. Python coaching.
                </p>
                <p>
                - Talk at LWA 2015 conference and PyData Berlin 2016 meet-up.
                </p>
                </div>
              </div>
-->

<!--
              <div class="information-line">

                <div class="main-info">

                  <div class="info-icon">
                    <a class="dropdownbutton" id="dropdown_4_c">
                      <img src="/img/xp.png" alt="icon" />
                       See more 
                    </a>
                  </div>
        
                  <div class="name-and-diplom">
                    <h2 class="university-name">
                      Teaching Assistant - CRM & Data Mining
                    </h2>
                    <p class="grade-diplom">
                      @ Karlsruhe Institute of Technology
                    </p>
                    <p class="from-to">
                      From 10/15 to 07/16 (10 months)
                    </p>
                  </div>

                  <div class="university-icon collapsemewhentoosmall1">
                    <img src="/img/kit100x46.png" alt="uni-icon" />
                  </div>

                </div>
                
                <div class="more-info" id="dropdownwrap_4_c" style="text-indent:2em">
                <p>
                Tutor in Customer Relationship Management (Winter term 15/16) at KIT for undergraduate students. Giving 1.5 hour presentation every two weeks. Preparation of slides and assignments.

                </p>
                <p>
				Teaching assistant in the Data Mining Lab (Summer term 16) at KIT for a group of 24 students in the participation to a data mining contest. Weekly Meetings with the students. Organized a field trip at IBM Lab.
				</p>
                </div>


              </div>

              <div class="information-line">

                <div class="main-info">

                  <div class="info-icon">
                    <a class="dropdownbutton" id="dropdown_4_b">
                      <img src="/img/xp.png" alt="icon" />
                       See more 
                    </a>
                  </div>
        
                  <div class="name-and-diplom">
                    <h2 class="university-name">
                      Big Data Research Assistant
                    </h2>
                    <p class="grade-diplom">
                      @ Karlsruhe Institute of Technology
                    </p>
                    <p class="from-to">
                      From 05/14 to 08/14 (3 months)
                    </p>
                  </div>

                  <div class="university-icon collapsemewhentoosmall1">
                    <img src="/img/kit100x46.png" alt="uni-icon" />
                  </div>

                </div>
                
                <div class="more-info" id="dropdownwrap_4_b" style="text-indent:2em">
                Assisting Big Data Research Team in the field of climatology. Developing tools for extracting metadata from NetCDF files, using Python and MongoDB. Deploying Web Processing Services on Ubuntu. Administration of scientific websites with OpenText.
                </div>


              </div>


              <div class="information-line">

                <div class="main-info">

                  <div class="info-icon">
                    <a class="dropdownbutton" id="dropdown_5">
                      <img src="/img/xp.png" alt="icon" />
                       See more 
                    </a>
                  </div>
        
                  <div class="name-and-diplom">
                    <h2 class="university-name">
                      Software Developer Intern
                    </h2>
                    <p class="grade-diplom">
                      @ GDF SUEZ (recently renamed as "Engie")
                    </p>
                    <p class="from-to">
                      From 07/12 to 08/12 (2 months)
                    </p>
                  </div>

                  <div class="university-icon collapsemewhentoosmall1">
                    <img src="/img/gdfsuez100x56.jpg" alt="uni-icon" />
                  </div>



                </div>

                <div class="more-info" id="dropdownwrap_5" style="text-indent:2em" >
                Development of internal software for Business Intelligence to help business decision-making process, based on indicators and dashboards. Design and development of UI, using Oracle Forms and PL/SQL language.
                </div>

                

              </div>


              <div class="information-line">

                <div class="main-info">

                  <div class="info-icon">
                    <a class="dropdownbutton" id="dropdown_4">
                      <img src="/img/xp.png" alt="icon" />
                       See more 
                    </a>
                  </div>
        
                  <div class="name-and-diplom">
                    <h2 class="university-name">
                      Working Student
                    </h2>
                    <p class="grade-diplom">
                      @ ESIEE PARIS 
                    </p>
                    <p class="from-to">
                      From 01/12 to 01/14 (2 years)
                    </p>
                  </div>

                  <div class="university-icon collapsemewhentoosmall1">
                    <img src="/img/esiee100x47.jpg" alt="uni-icon" />
                  </div>

                </div>
                
                <div class="more-info" id="dropdownwrap_4" style="text-indent:2em">
                Contacting companies by phone, organization of events in my university and photo reporting.
                </div>


              </div>
-->
              
<!--
              <div class="space"></div>

              <div class="information-line">

                <div class="main-info">

                  <div class="info-icon">
                    <a class="dropdownbutton" id="dropdown_6">
                      <img src="/img/xp.png" alt="icon" />
                       See more 
                    </a>
                  </div>
        
                  <div class="name-and-diplom">
                    <h2 class="university-name">
                      Technical Agent
                    </h2>
                    <p class="grade-diplom">
                      @ COFELY GDF SUEZ
                    </p>
                    <p class="from-to">
                      From 07/11 to 08/11 (2 months)
                    </p>
                  </div>

                  <div class="university-icon collapsemewhentoosmall1">
                    <img src="/img/cofely100x42.jpg" alt="uni-icon" />
                  </div>

                </div>

              </div>

              <div class="more-info" id="dropdownwrap_6" style="text-indent:2em">
                During Summer 2011, I have been working at Centre George Pompidou, in Paris. I have been helping the electrician team which was responsible of the electric system of the building. So I have been able to discover it and to participate in the work of improving and maintaining it.
              </div>

-->

<!--

            </div>

            <div class="space"></div> 

            <div class="title-wrapper">
              <h1 class="content-title" id="sec2"> 
                Education
              <h1>
            </div> 

            <div class="subcontent-wrapper">  


              <div class="information-line">

                <div class="main-info">
                  
                  <div class="info-icon">
                      <img src="/img/diplome.png" alt="icon" />

                  </div>

                  <div class="name-and-diplom">
                    <h2 class="university-name">
                      Karlsruhe Institute of Technology
                    </h2>
                    <p class="grade-diplom">
                      Ph.D. in Data Science (Dr.-Ing.)
                    </p>
                    <p class="from-to">
                      From 2016 to 2020
                    </p>
                  </div>

                  <div class="university-icon collapsemewhentoosmall1">
                    <img src="/img/kit100x46.png" alt="uni-icon" />
                  </div>
                </div>  

                <div class="more-info" id="dropdownwrap_1" style="text-indent:2em" style="text-indent:2em">

                Still in construction

                </div>


              </div>
              
              <div class="information-line">

                <div class="main-info">
                  
                  <div class="info-icon">
                      <img src="/img/diplome.png" alt="icon" />

                  </div>

                  <div class="name-and-diplom">
                    <h2 class="university-name">
                      Quantic
                    </h2>
                    <p class="grade-diplom">
                      Master of Business Administration (MBA)
                    </p>
                    <p class="grade-diplom">
                      Online, 7% admission rate. Topics: Accounting, Market & Economies, Data & Decisions, Leading Organizations, Marketing & Pricing, Finance, Supply Chain & Operations, Strategy, Entrepreneurship.
                    
                    </p>
                    <p class="from-to">
                      From 2020 to 2021
                    </p>
                  </div>

                  <div class="university-icon collapsemewhentoosmall1">
                    <img src="/img/quantic_2.jpg" alt="uni-icon"  width="100" />
                  </div>
                </div>  

                <div class="more-info" id="dropdownwrap_1" style="text-indent:2em" style="text-indent:2em">

                Still in construction

                </div>


              </div> 

              <div class="information-line">

                <div class="main-info">
                  
                  <div class="info-icon">
                      <img src="/img/diplome.png" alt="icon" />

                  </div>

                  <div class="name-and-diplom">
                    <h2 class="university-name">
                      Software Campus
                    </h2>
                    <p class="grade-diplom">
                      Selected participant in the <a href="http://www.softwarecampus.de/en/home/">Software Campus</a> Program.
                    </p>
                    <p class="grade-diplom">
                      Founded and trained to become a top IT executive.
                    </p>
                    <p class="grade-diplom">
                      Includes a €100K research grant. 
                    </p>
                    <p class="from-to">
                      From 2017 to 2019
                    </p>
                  </div>

                  <div class="university-icon collapsemewhentoosmall1">
                    <img src="/img/softwarecampus.png" alt="uni-icon"  width="100" />
                  </div>
                </div>  

                <div class="more-info" id="dropdownwrap_1" style="text-indent:2em" style="text-indent:2em">

                Still in construction

                </div>


              </div> 

              <div class="information-line">

                <div class="main-info">
                  
                  <div class="info-icon">
                      <img src="/img/diplome.png" alt="icon" />

                  </div>

                  <div class="name-and-diplom">
                    <h2 class="university-name">
                      Karlsruhe Institute of Technology
                    </h2>
                    <p class="grade-diplom">
                      Master of Science (M.Sc.) in Computer Science
                    </p>
                    <p class="from-to">
                      From 2013 to 2016
                    </p>
                  </div>

                  <div class="university-icon collapsemewhentoosmall1">
                    <img src="/img/kit100x46.png" alt="uni-icon" />
                  </div>
                </div>  

                <div class="more-info" id="dropdownwrap_1" style="text-indent:2em" style="text-indent:2em">

                Still in construction

                </div>


              </div>
              
              <div class="information-line">

                <div class="main-info">

                  <div class="info-icon">

                  </div>
        
                  <div class="name-and-diplom">
                    <h2 class="university-name">
                      ESIEE PARIS
                    </h2>
                    <p class="grade-diplom">
                      Master of Engineering (M.Eng.) 
                    </p>
                    <p class="from-to">
                      From 2010 to 2015
                    </p>
                  </div>

                  <div class="university-icon collapsemewhentoosmall1">
                    <img src="/img/esiee100x47.jpg" alt="uni-icon" />
                  </div>
                </div>

                <div class="more-info" id="dropdownwrap_2" style="text-indent:2em">

                </div>



              </div>

              <div class="information-line">

                <div class="main-info">

                  <div class="info-icon">
                  </div>
        
                  <div class="name-and-diplom">
                    <h2 class="university-name">
                      Université Paris-Est MLV
                    </h2>
                    <p class="grade-diplom">
                      B.Sc. in Computer Science & Mathematics
                    </p>
                    <p class="from-to">
                      From 2010 to 2013
                    </p>
                  </div>

                  <div class="university-icon collapsemewhentoosmall1">
                    <img src="/img/upem51x53.png" alt="uni-icon" />
                  </div>
                </div> 
                
                <div class="more-info" id="dropdownwrap_3" style="text-indent:2em">

                Still in construction

                </div> 
              </div>

            </div>

            <div class="information-line">

                <div class="main-info">
        
                  <div class="name-and-diplom">
                    <h2 class="university-name">
                      Lycée Cours Notre-Dame Providence
                    </h2>
                    <p class="grade-diplom">
                      Baccalaureate in Science
                    </p>
                    <p class="from-to">
                      From 2007 to 2010
                    </p>
                  </div>

                  <div class="university-icon collapsemewhentoosmall1">
                    <img src="/img/nd75x64.jpg" alt="uni-icon" />
                  </div>
                </div> 
                
                <div class="more-info" id="dropdownwrap_7" style="text-indent:2em">
                  <div class="information-line">
        
                  Still in construction
                
                </div> 
              </div>

            </div>
            
            <div class="space"></div> 

            <div class="title-wrapper">
              <h1 class="content-title" id="sec3"> 
                Skills
              <h1>
            </div>


              <h2 class="subtitle">
                Computer Science
              </h2>


              <div class="skills-line">

                <div class="skills-icon">
                    <img src="/img/skills_5_5_200x50.png" alt="icon" />
                </div>
                
                  <h2 class="skills-name">
                    Data Science, Neural Networks
                  </h2>
                

              </div>

              <div class="skills-line">

                <div class="skills-icon">
                    <img src="/img/skills_5-5_5_200x50.png" alt="icon" />
                </div>
                
                  <h2 class="skills-name">
                    Python, R, Scala
                  </h2>
                

              </div>

              <div class="skills-line">

                <div class="skills-icon">
                    <img src="/img/skills_4_5_200x50.png" alt="icon" />
                </div>
      
                  <h2 class="skills-name">
                    Spark, SQL 
                  </h2>

              </div> 


              <div class="skills-line">

                <div class="skills-icon">
                    <img src="/img/skills_4_5_200x50.png" alt="icon" />
                </div>
      
                  <h2 class="skills-name">
                    Algorithms, Databases
                  </h2>

              </div>  


              <div class="skills-line">

                <div class="skills-icon">
                    <img src="/img/skills_4-5_5_200x50.png" alt="icon" />
                </div>
      
                  <h2 class="skills-name">
                    Spark
                  </h2>

              </div> 

              <div class="skills-line">

                <div class="skills-icon">
                    <img src="/img/skills_3_5_200x50.png" alt="icon" />
                </div>
      
                  <h2 class="skills-name">
                    Web
                  </h2>

              </div> 

              <h4 class="subtitle" style="font-size: 20px">
              + Prior exposition to Java, C++, C#, C
              </h4>

              <h2 class="subtitle">
                Languages
              </h2>

              <div class="skills-line">

                <div class="skills-icon">
                    <img src="/img/skills_5_5_200x50.png" alt="icon" />
                </div>
      
                
                  <h2 class="skills-name">
                    French 
                  </h2>
                

              </div> 

              <div class="skills-line">

                <div class="skills-icon">
                    <img src="/img/skills_5-5_5_200x50.png" alt="icon" />
                </div>
      
                  <h2 class="skills-name">
                    English
                  </h2>

              </div> 

              <div class="skills-line">

                <div class="skills-icon">
                    <img src="/img/skills_5-5_5_200x50.png" alt="icon" />
                </div>
      
                  <h2 class="skills-name">
                    German
                  </h2>

              </div> 

              <div class="skills-line">

                <div class="skills-icon">
                    <img src="/img/skills_2_5_200x50.png" alt="icon" />
                </div>
      
                  <h2 class="skills-name">
                    Spanish
                  </h2>

              </div>

               <div class="space"></div>

              <h2 class="subtitle">
                I like to talk and hear about...
               <ul>
  					<li>Data Mining, Machine Learning</li>
  					<li>Research, Entrepreneurship</li>
            <li>Leadership, Self-improvement</li>
			  </ul>

              </h2>


            <div class="space"></div>

            <div class="title-wrapper">
              <h1 class="content-title" id="sec4"> 
                Test scores
              <h1>
            </div>

             <div class="subcontent-wrapper">

              <div class="information-line">

                <div class="info-icon">
                    <img src="/img/test.png" alt="icon" />
                </div>
      
                <div class="name-and-diplom">
                  <h2 class="university-name">
                    Ph.D. (Dr.-Ing.) in Data Science 
                  </h2>
                  <p class="grade-diplom">
                    Summa Cum Laude (Highest Distinction) 
                  </p>
                  <p class="from-to">
                    July 2020
                  </p>
                </div>

                <div class="university-icon collapsemewhentoosmall1">
                  <img src="/img/kit100x46.png" alt="uni-icon" />
                </div>
              </div>

              <div class="information-line">

                <div class="info-icon">
                    <img src="/img/test.png" alt="icon" />
                </div>
      
                <div class="name-and-diplom">
                  <h2 class="university-name">
                    Master of Computer Science (M.Sc.)
                  </h2>
                  <p class="grade-diplom">
                    Score = 1.4 (Very Good) 
                  </p>
                  <p class="from-to">
                    October 2016
                  </p>
                </div>

                <div class="university-icon collapsemewhentoosmall1">
                  <img src="/img/kit100x46.png" alt="uni-icon" />
                </div>
              </div>

              <div class="information-line">

                <div class="info-icon">
                    <img src="/img/test.png" alt="icon" />
                </div>
      
                <div class="name-and-diplom">
                  <h2 class="university-name">
                    Master of Engineering (M.Eng.)
                  </h2>
                  <p class="grade-diplom">
                    Score ≈ 16/20 (Very Good) - <span class="expected-graduation"> With jury congratulations </span>
                  </p>
                  <p class="grade-diplom">
                  	- Ranked first in my class (out of > 200 students) <br>
                    - Award "Outstanding International Academic Career"
                  </p>
                  <p class="from-to">
                    October 2015
                  </p>
                </div>

                <div class="university-icon collapsemewhentoosmall1">
                  <img src="/img/esiee100x47.jpg" alt="uni-icon" />
                </div>
              </div>

              <div class="information-line">

                <div class="info-icon">
                    <img src="/img/test.png" alt="icon" />
                </div>
      
                <div class="name-and-diplom">
                  <h2 class="university-name">
                    Bachelor of Computer Science/Mathematics
                  </h2>
                  <p class="grade-diplom">
                    Score = 16.25/20 (Very Good) - <span class="expected-graduation"> With highest honours </span>
                  </p>
                  <p class="from-to">
                    July 2013
                  </p>
                </div>

                <div class="university-icon collapsemewhentoosmall1">
                  <img src="/img/upem51x53.png" alt="uni-icon" />
                </div>
              </div>

              <div class="information-line">

                <div class="info-icon">
                    <img src="/img/test.png" alt="icon" />
                </div>
      
                <div class="name-and-diplom">
                  <h2 class="university-name">
                    Baccalaureate in Science, Mathematics
                  </h2>
                  <p class="grade-diplom">
                   Score = 17.5/20 (Very Good) - <span class="expected-graduation"> With highest honours </span>
                  </p>
                  <p class="from-to">
                    June 2010
                  </p>
                </div>

                <div class="university-icon collapsemewhentoosmall1">
                  <img src="/img/nd75x64.jpg" alt="uni-icon" />
                </div>
              </div>
              
            </div>

            <div class="space"></div>

            <div class="title-wrapper">
              <h1 class="content-title" id="sec5"> 
                Awards & Honours
              <h1>
            </div>

             <div class="subcontent-wrapper">

              <div class="information-line">

                <div class="info-icon">
                    <img src="/img/award.png" alt="icon" />
                </div>
      
                <div class="name-and-diplom">
                  <h2 class="university-name">
                   Helmholtz Doctoral Prize 2020
                  </h2>
                  <p class="grade-diplom">
                   The prize recognizes outstanding achievements during the doctoral phase. 
                   <br>
                   The Helmholtz Association is the largest german scientific organisation.
                  </p>
                  <p class="from-to">
                    May 2021
                  </p>
                </div>
               
              </div>

              <div class="information-line">

                <div class="info-icon">
                    <img src="/img/award.png" alt="icon" />
                </div>
      
                <div class="name-and-diplom">
                  <h2 class="university-name">
                   Best Paper Award
                  </h2>
                  <p class="grade-diplom">
                   Scientific and Statistical Database Management (SSDBM19).
                  </p>
                  <p class="from-to">
                    July 2019
                  </p>
                </div>
               
              </div>

              <div class="information-line">

                <div class="info-icon">
                    <img src="/img/award.png" alt="icon" />
                </div>
      
                <div class="name-and-diplom">
                  <h2 class="university-name">
                    Outstanding International Academic Career
                  </h2>
                  <p class="grade-diplom">
                   "Parcours d'excellence" ESIEE PARIS 2015 (Top 1% of the cohort)
                  </p>
                  <p class="from-to">
                    November 2015
                  </p>
                </div>
               
              </div>

              <div class="information-line">

                <div class="info-icon">
                    <img src="/img/award.png" alt="icon" />
                </div>
      
                <div class="name-and-diplom">
                  <h2 class="university-name">
                    Data Mining Cup : 2nd place worldwide 
                  </h2>
                  <p class="grade-diplom">
                   Karlsruhe Institute of Technology - Prudsys AG
                  </p>
                  <p class="from-to">
                    April - July 2014
                  </p>
                </div>
               
              </div>

              <div class="information-line">

                <div class="info-icon">
                    <img src="/img/award.png" alt="icon" />
                </div>

                <div class="name-and-diplom">
                  <h2 class="university-name">
                    Descartes Photographic Contest : 1st Place  
                  </h2>
                  <p class="grade-diplom">
                   Descartes Developpement, “Nature & Environment”
                  </p>
                  <p class="from-to">
                   July 2012
                  </p>
                </div>
      
                
               
              </div>
           

              <div class="information-line">

                <div class="info-icon">
                    <img src="/img/award.png" alt="icon" />
                </div>
      
                <div class="name-and-diplom">
                  <h2 class="university-name">
                    Best Management Project of year 2011 
                  </h2>
                  <p class="grade-diplom">
                   ESIEE PARIS - Project's day contest
                  </p>
                  <p class="from-to">
                    June 2011
                  </p>
                </div>
               
              </div>

              <div class="space"></div>

              



            </div>



            <div class="title-wrapper">
              <h1 class="content-title" id="sec6"> 
                Interests
              <h1>
            </div>
            <p></p>

             <div class="subcontent-wrapper">
              <p id="gallery-title"> 
                I really like to take photographs, and more generally everything that is related to this field.
                I like to go to the museum, visit exhibitions and meet photographers and artists.
              </p>



    
        <div id="gallery" class="content" >
          <div class="slideshow-container">
            <div id="loading" class="loader"></div>
            <div id="slideshow" class="slideshow"></div>
          </div>
          <div id="caption" class="caption-container"></div> 
        </div>
        <div id="thumbs" class="navigation">
          <ul class="thumbs noscript">

            <li>
              <a class="thumb" href="/img/gallery/picture_3.png" title="">
                <img src="/img/gallery/picture_3_s.png" alt="Title #0" />
              </a>
            </li>

            <li>
              <a class="thumb" href="/img/gallery/picture_2.png" title="">
                <img src="/img/gallery/picture_2_s.png" alt="Title #0" />
              </a>
            </li>

            <li>
              <a class="thumb" href="/img/gallery/picture_1.png" title="">
                <img src="/img/gallery/picture_1_s.png" alt="Title #0" />
              </a>
            </li>

            <li>
              <a class="thumb" href="/img/gallery/picture_4.png" title="">
                <img src="/img/gallery/picture_4_s.png" alt="Title #0" />
              </a>
            </li>

            <li>
              <a class="thumb" href="/img/gallery/picture_5.png" title="">
                <img src="/img/gallery/picture_5_s.png" alt="Title #0" />
              </a>
            </li>

            <li>
              <a class="thumb" href="/img/gallery/picture_6.png" title="">
                <img src="/img/gallery/picture_6_s.png" alt="Title #0" />
              </a>
            </li>

            <li>
              <a class="thumb" href="/img/gallery/picture_7.png" title="">
                <img src="/img/gallery/picture_7_s.png" alt="Title #0" />
              </a>
            </li>

            <li>
              <a class="thumb" href="/img/gallery/picture_8.png" title="">
                <img src="/img/gallery/picture_8_s.png" alt="Title #0" />
              </a>
            </li>

            <li>
              <a class="thumb" href="/img/gallery/picture_9.png" title="">
                <img src="/img/gallery/picture_9_s.png" alt="Title #0" />
              </a>
            </li>

            <li>
              <a class="thumb" href="/img/gallery/picture_10.png" title="">
                <img src="/img/gallery/picture_10_s.png" alt="Title #0" />
              </a>
            </li>

            <li>
              <a class="thumb" href="/img/gallery/picture_11.png" title="">
                <img src="/img/gallery/picture_11_s.png" alt="Title #0" />
              </a>
            </li>

            <li>
              <a class="thumb" href="/img/gallery/picture_12.png" title="">
                <img src="/img/gallery/picture_12_s.png" alt="Title #0" />
              </a>
            </li>

            <li>
              <a class="thumb" href="/img/gallery/picture_13.png" title="">
                <img src="/img/gallery/picture_13_s.png" alt="Title #0" />
              </a>
            </li>

            <li>
              <a class="thumb" href="/img/gallery/picture_14.png" title="">
                <img src="/img/gallery/picture_14_s.png" alt="Title #0" />
              </a>
            </li>

            <li>
              <a class="thumb" href="/img/gallery/picture_15.png" title="">
                <img src="/img/gallery/picture_15_s.png" alt="Title #0" />
              </a>
            </li>

            
          </ul>
        </div>
        <div style="clear: both;"></div>

            <p id="gallery-title"> 
              If you would like to see more, you can check my <a href="https://www.flickr.com/photos/edouardf">Flickr</a> or <a href="https://www.instagram.com/edouardfouche/">Instagram</a>!
              <br>
              I also enjoy travelling, hiking and roller skating !  
            </p>


            </div>
  -->
            <div class="space"></div>

            {% include footer.html %}

          </div>




          <!--
          <div class="col-xs-2 col-md-2" id="leftCol">
            <ul class="nav nav-stacked" id="sidebar">
                <li><a class="sidebar-line" href="#sec0">Summary</a></li>
                <li><a class="sidebar-line" href="#sec1">Experience</a></li>
                <li><a class="sidebar-line" href="#sec2">Education</a></li>
                <li><a class="sidebar-line" href="#sec3">Skills</a></li>
                <li><a class="sidebar-line" href="#sec4">Test Scores</a></li>
                <li><a class="sidebar-line" href="#sec5">Awards & Honours</a></li>
                <li><a class="sidebar-line" href="#sec6">Interests</a></li>
            </ul>
          </div>
        -->



        </div>
        

      </div>
    </div>


    <!-- jQuery for gallerific plugin -->
    <!--
      <script type="text/javascript" src="/js_gallery/jquery.galleriffic.js"></script>
      <script type="text/javascript" src="/js_gallery/jquery.opacityrollover.js"></script>
      <script type="text/javascript">
        document.write('<style>.noscript { display: none; }</style>');
      </script>
    -->

    <!-- Javascript jQuery for the dropdownbuttons -->
    <!--
    <script>

      $(document).ready(function(e) {
    
        $('#dropdown_1').on('click',function(){
          /* $('#dropdownwrap_1').fadeToogle(); */
          $('#dropdownwrap_1').slideFadeToggle(); 
          
        });

        $('#dropdown_2').on('click',function(){
          /* $('#dropdownwrap_1').fadeToogle(); */
          $('#dropdownwrap_2').slideFadeToggle(); 
          
        });

        $('#dropdown_3').on('click',function(){
          /* $('#dropdownwrap_1').fadeToogle(); */
          $('#dropdownwrap_3').slideFadeToggle(); 
          
        });

        $('#dropdown_4').on('click',function(){
          /* $('#dropdownwrap_1').fadeToogle(); */
          $('#dropdownwrap_4').slideFadeToggle(); 
          
        });

        $('#dropdown_4_b').on('click',function(){
          /* $('#dropdownwrap_1').fadeToogle(); */
          $('#dropdownwrap_4_b').slideFadeToggle(); 
          
        });

        $('#dropdown_4_c').on('click',function(){
          /* $('#dropdownwrap_1').fadeToogle(); */
          $('#dropdownwrap_4_c').slideFadeToggle(); 
          
        });

        $('#dropdown_4_d').on('click',function(){
          /* $('#dropdownwrap_1').fadeToogle(); */
          $('#dropdownwrap_4_d').slideFadeToggle(); 
          
        });

        $('#dropdown_4_e').on('click',function(){
          /* $('#dropdownwrap_1').fadeToogle(); */
          $('#dropdownwrap_4_e').slideFadeToggle(); 
          
        });

        $('#dropdown_4_f').on('click',function(){
          /* $('#dropdownwrap_1').fadeToogle(); */
          $('#dropdownwrap_4_f').slideFadeToggle(); 
          
        });

        $('#dropdown_5').on('click',function(){
          /* $('#dropdownwrap_1').fadeToogle(); */
          $('#dropdownwrap_5').slideFadeToggle(); 
          
        });

        $('#dropdown_6').on('click',function(){
          /* $('#dropdownwrap_1').fadeToogle(); */
          $('#dropdownwrap_6').slideFadeToggle(); 
          
        });

        $('#dropdown_7').on('click',function(){
          /* $('#dropdownwrap_1').fadeToogle(); */
          $('#dropdownwrap_7').slideFadeToggle(); 
          
        });
    
      });

    </script>
  -->

    <!-- Petit script just pour combiner fade et slide -->
    <!--
    <script>

    $.fn.slideFadeToggle  = function(speed, easing, callback) 
    {
      return this.animate({opacity: 'toggle', height: 'toggle'}, speed, easing, callback);
    };
    </script>
  -->

    <!-- Javascript jQuery for the galleriffic -->
    <!--
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        // We only want these styles applied when javascript is enabled
        $('div.navigation').css({'width' : '300px', 'float' : 'left'});
        $('div.content').css('display', 'block');

        // Initially set opacity on thumbs and add
        // additional styling for hover effect on thumbs
        var onMouseOutOpacity = 0.67;
        $('#thumbs ul.thumbs li').opacityrollover({
          mouseOutOpacity:   onMouseOutOpacity,
          mouseOverOpacity:  1.0,
          fadeSpeed:         'fast',
          exemptionSelector: '.selected'
        });
        
        // Initialize Advanced Galleriffic Gallery
        var gallery = $('#thumbs').galleriffic({
          delay:                     2500,
          numThumbs:                 15,
          preloadAhead:              10,
          enableTopPager:            true,
          enableBottomPager:         true,
          maxPagesToShow:            7,
          imageContainerSel:         '#slideshow',
          controlsContainerSel:      '#controls',
          captionContainerSel:       '#caption',
          loadingContainerSel:       '#loading',
          renderSSControls:          true,
          renderNavControls:         true,
          playLinkText:              'Play Slideshow',
          pauseLinkText:             'Pause Slideshow',
          prevLinkText:              '&lsaquo; Previous Photo',
          nextLinkText:              'Next Photo &rsaquo;',
          nextPageLinkText:          'Next &rsaquo;',
          prevPageLinkText:          '&lsaquo; Prev',
          enableHistory:             false,
          autoStart:                 false,
          syncTransitions:           true,
          defaultTransitionDuration: 900,
          onSlideChange:             function(prevIndex, nextIndex) {
            // 'this' refers to the gallery, which is an extension of $('#thumbs')
            this.find('ul.thumbs').children()
              .eq(prevIndex).fadeTo('fast', onMouseOutOpacity).end()
              .eq(nextIndex).fadeTo('fast', 1.0);
          },
          onPageTransitionOut:       function(callback) {
            this.fadeTo('fast', 0.0, callback);
          },
          onPageTransitionIn:        function() {
            this.fadeTo('fast', 1.0);
          }
        });
      });
    </script>
  -->

    <!-- JavaScript jQuery for the sidebar -->

    <!--
    <script type='text/javascript'>
        
      $(document).ready(function() {
        
        $('#sidebar').affix(
        {
          offset: 
          {
            /* top: 235 */
            top: 110 /* v2 110 */
          }
        });

        var $body   = $(document.body);
        var navHeight = $('.navbar').outerHeight(true) + 20;  /* ???? */ 

        var FF = !(window.mozInnerScreenX == null);
        if(FF) {
          $('#content').scrollspy(
          {
            target: '#leftCol',
            offset: navHeight
          });
        }
        else
        {
          $body.scrollspy(
          {
            target: '#leftCol',
            offset: navHeight
          });
        }
        
        

        /* smooth scrolling sections */
        $('a[href*=#]:not([href=#])').click(function() 
        {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) 
          {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) 
            {
              $('html,body').animate(
              {
                /* scrollTop: target.offset().top - 50 */
                scrollTop: target.offset().top - 14 /* Quand on clique sur un des titres, décalage du scroller */
              }, 750); /* MODIFY HERE TO CHANGE THE SPEED */
              return false;
            }
          }
        });
        
      });
        
      </script>
    -->

  {% include script.html %}

  </body>


</html>