<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">

  {% include head.html %}
  
  <body class="home">

  {% include navbar.html %}
    <div class="space"></div>


    <div class="content-wrapper">
    <div class="container">
    <div class="row" style=" margin-right: 0px ;" >

    <!-- This part is dedicated to the design of the left column -->
    <!-- <div class="col-xs-12 col-md-10"> -->

    <!-- <div class="content"> -->
      {{ content }}
    <!-- </div>-->

    <!-- </div> -->
    </div>

    </div>

    <div class="space"></div>

    {% include footer.html %}

    </div>

  
  {% include script.html %}
  </body>

  

</html>
