<!doctype html>
<html lang="en">

  {% include head.html %}
  
  <body class="home">

  {% include navbar.html %}
    

    <div class="space"></div>


    <div class="content-wrapper">
    <div class="container">
    <<div class="row" style=" margin-right: 0px ;" >
      <!-- This part is dedicated to the design of the left column -->
      <!-- <div class="col-xs-12 col-md-10"> -->
    </div>
    
    <div class="col-xs-12 col-md-10">

    <div class="title-wrapper">
        <h1 class="content-title" id="sec0"> 
            Oops ! 404 Error
        <h1>
    </div>

    <div class="subcontent-wrapper">

              <p class="content-paragraph">
                Sorry, we can't find the page you are looking for. 
                <br>
                Please, get me <a href={{ site.url }}>back to the homepage</a> ! 
              </p>


    </div>


    </div>

    </div>

    <div class="space"></div>

    {% include footer.html %}

    </div>

  
  {% include script.html %}
  </body>

  

</html>
