<!doctype html>
<html lang="en">

  {% include head.html %}
  
  <body class="about">

  {% include navbar.html %}
    
    <div class="space"></div>

    <div class="content-wrapper">
    <div class="container">
    <div class="row" style=" margin-right: 0px ;" >

    <!-- This part is dedicated to the design of the left column -->
    <!-- <div class="col-xs-12 col-md-10"> -->

    <div class="title-wrapper">
        <h1 style="padding-left:2%" id="sec0"> 
            Impressum / Imprint (Legal Disclosure)
        </h1>
    </div>

    <div class="subcontent-wrapper">

    <p class="content-paragraph">
    <i>Since this website is operated from Germany, we provide the following legal disclosure in German. </i>
    </p>

    </div>

    <div class="title-wrapper">
        <h2 style="padding-left:2%" class="content-title" id="sec0"> 
            Angaben gemäß § 5 TMG
        </h2>
    </div>

    <div class="subcontent-wrapper">

    <p class="content-paragraph">
    <b>Name des Betreibers:</b>
    <br>
    Edouard Fouché
    <br>
    <!-- Vertreten durch / Represented by: -->
    <!--[Full Name of the Legal Representative (if applicable)] -->
    <b> Anschrift:</b>
    <br>
    Adamstr. 43 
    <br>
    90489, Nürnberg
    <br>
    Germany
    <br>
    <!-- <b> Kontakt:</b> <br> -->
    <b>Kontakt (E-Mail): </b> 
    <br> hello@edouardfouche.com
    <!-- Phone? -->

    <!-- 
    Registereintrag / Commercial Register Entry:
    Eintragung im Handelsregister / Registered in the commercial register.
    Registergericht / Register Court: [Name of the Register Court]
    Registernummer / Registration Number: [Registration Number]

    Umsatzsteuer-ID / VAT ID:
    Umsatzsteuer-Identifikationsnummer gemäß §27a Umsatzsteuergesetz / VAT identification number according to §27a of the German VAT Act: [Your VAT ID Number]
    -->
    </p>

    </div>

    <div class="title-wrapper">
        <h2 style="padding-left:2%" class="content-title" id="sec0"> 
            Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV 
        </h2>
    </div>

    <div class="subcontent-wrapper">

    <p class="content-paragraph">
    <b>Name:</b>
    <br>
    Edouard Fouché
    <br>
    <b>Adresse:</b>
    <br>
    Adamstr. 43 
    <br>
    90489, Nürnberg
    <br>
    Germany
    </p>

    </div>


    <div class="title-wrapper">
        <h2 style="padding-left:2%" class="content-title" id="sec0"> 
            Haftungsausschluss
        </h2>
    </div>

    <div class="subcontent-wrapper">

    <p class="content-paragraph">
    <b>Haftung für Inhalte:</b>
    <br>
    Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich.
    <br>
    <b>Haftung für Links:</b>
    <br>
    Unser Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. 
    </p>

    </div>

    <div class="title-wrapper">
        <h2 style="padding-left:2%" class="content-title" id="sec0"> 
            Urheberrecht
        </h2>
    </div>

    <div class="subcontent-wrapper">

    <p class="content-paragraph">
    Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. 
    </p>

    </div>

    <div class="title-wrapper">
        <h2 style="padding-left:2%" class="content-title" id="sec0"> 
            Datenschutzerklärung (DSGVO)
        </h2>
    </div>

    <div class="subcontent-wrapper">

    <p class="content-paragraph">
    Auf dieser Webseite werden keine personenbezogenen Daten erhoben, gespeichert oder verarbeitet. Es werden keine Cookies verwendet.
    </p>

    </div>

    <div class="title-wrapper">
        <h2 style="padding-left:2%" class="content-title" id="sec0"> 
            Verweis auf Dritte
        </h2>
    </div>

    <div class="subcontent-wrapper">

    <p class="content-paragraph">
    Diese Website wird auf <a href="https://www.github.com/">Github</a> als <a href="https://help.github.com/en/articles/what-is-github-pages">Github Pages</a> gehostet. Die Github Global Privacy Practices sind <a href="https://help.github.com/en/articles/global-privacy-practices">hier</a> hinterlegt.
    </p>

    </div>
    

    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>

    <!-- </div> -->
    </div>

    </div>

        <div class="space"></div>

        {% include footer.html %}

    </div>



  {% include script.html %}
  </body>

</html>