<!doctype html>
<html lang="en">

  {% include head.html %}
  
  <body class="about">

  {% include navbar.html %}
    
    <div class="space"></div>

    <div class="content-wrapper">
    <div class="container">
    <div class="row" style=" margin-right: 0px ;" >

    <!-- This part is dedicated to the design of the left column -->
    <!-- <div class="col-xs-12 col-md-10"> -->

    <div class="title-wrapper">
        <h1 style="padding-left:2%" id="sec0"> 
            Impressum / Imprint (Legal Disclosure)
        </h1>
    </div>

    <div class="title-wrapper">
        <h2 style="padding-left:2%" class="content-title" id="sec0"> 
            Angaben gemäß § 5 TMG / Information according to § 5 TMG
        </h2>
    </div>

    <div class="subcontent-wrapper">

<p class="content-paragraph">
<b>Name des Unternehmens oder Betreibers / Name of the company or website operator</b>
<br>
[Your Company/Website Name]
<br>
<!-- Vertreten durch / Represented by: -->
<!--[Full Name of the Legal Representative (if applicable)] -->
Anschrift / Address:
<br>
[Street Address]
<br>
[Postal Code, City]
<br>
[Country]
<br>
Kontakt / Contact:
<br>
Telefon / Phone: [Phone Number]
<br>
E-Mail / Email: [Email Address]
<br>
Fax: [Fax Number, if available]

<!-- 
Registereintrag / Commercial Register Entry:
Eintragung im Handelsregister / Registered in the commercial register.
Registergericht / Register Court: [Name of the Register Court]
Registernummer / Registration Number: [Registration Number]

Umsatzsteuer-ID / VAT ID:
Umsatzsteuer-Identifikationsnummer gemäß §27a Umsatzsteuergesetz / VAT identification number according to §27a of the German VAT Act: [Your VAT ID Number]
-->
</p>

    </div>

    <div class="title-wrapper">
        <h2 style="padding-left:2%" class="content-title" id="sec0"> 
            Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV / Responsible for Content according to § 55 Abs. 2 RStV
        </h2>
    </div>

    <div class="subcontent-wrapper">

<p class="content-paragraph">
Name / Name:
<br>
[Full Name]
<br>
Adresse / Address:
<br>
[Street Address]
<br>
[Postal Code, City]
</p>

    </div>


    <div class="title-wrapper">
        <h2 style="padding-left:2%" class="content-title" id="sec0"> 
            Haftungsausschluss / Disclaimer
        </h2>
    </div>

    <div class="subcontent-wrapper">

<p class="content-paragraph">
Haftung für Inhalte / Liability for Content
<br>
Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. / As a service provider, we are responsible for our own content on these pages in accordance with general laws pursuant to § 7 Abs.1 TMG.
<br>
Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. / According to §§ 8 to 10 TMG, we are not obligated to monitor transmitted or stored third-party information or to investigate circumstances indicating illegal activity.
<br>
Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. / Obligations to remove or block the use of information under general laws remain unaffected. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. / Liability in this respect is only possible from the time of knowledge of a specific legal infringement.
<br>
Haftung für Links / Liability for Links
<br>
Unser Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben. / Our website contains links to external websites of third parties, the content of which we have no influence on.
<br>
Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. / The respective provider or operator of the linked pages is always responsible for their content.
<br>
Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. / The linked pages were checked for possible legal violations at the time they were linked.
</p>

    </div>

    <div class="title-wrapper">
        <h2 style="padding-left:2%" class="content-title" id="sec0"> 
            Urheberrecht / Copyright
        </h2>
    </div>

    <div class="subcontent-wrapper">

<p class="content-paragraph">
Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. / The content and works created by the site operators on these pages are subject to German copyright law.
<br>
Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. / Downloads and copies of this site are permitted for private, non-commercial use only.
</p>

    </div>
    

    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>

    <!-- </div> -->
    </div>

    </div>

        <div class="space"></div>

        {% include footer.html %}

    </div>



  {% include script.html %}

  </body>

</html>