<!doctype html>
<html lang="en">

  {% include head.html %}
  
  <body class="publications">

  {% include navbar.html %}
    

    <div class="space"></div>


    <div class="content-wrapper">
    <div class="container">
    <div class="row" style=" margin-right: 0px ;" >

    <!-- This part is dedicated to the design of the left column -->
    <div class="col-xs-12 col-md-10">

    <div class="title-wrapper">
        <h1 class="content-title" id="sec0"> 
            Publications
        <h1>
    </div>

    <div class="subcontent-wrapper">
              <h2> 
                <b> 2019 </b>
              <h2>

              <div class="information-line">
                <p>
                1. <b>Edouard Fouché and Klemens Böhm</b>, "<a href="/MCDE19_FOUCHE_SSDBM19.pdf">Monte Carlo Dependency Estimation</a>", Proceedings of the 31st International Conference on Scientific and Statistical Database Management (SSDBM ’19), July 23–25, 2019, Santa Cruz, CA, USA. 
                </p>
              </div>

              <div class="information-line">
                <p>
                2. <b>Edouard Fouché, Junpei Komiyama and Klemens Böhm</b>, "<a href="/S-MAB_FOUCHE_KDD19.pdf">Scaling Multi-Armed Bandit Algorithms</a>", Proceedings of the 25th ACM SIGKDD Conference on Knowledge Discovery and Data Mining (KDD ’19), August 4–8, 2019, Anchorage, AK, USA. 
                </p>
              </div>

              <div class="information-line">
                <p>
                3. <b>Daniel Popovic, Edouard Fouché and Klemens Böhm</b>, "Unsupervised Artificial Neural Networks for Outlier Detection in High-Dimensional Data", Proceedings of the 23rd European Conference on Advances in Databases and Information Systems (ADBIS ’19), September 8–11, 2019, Bled, Slovenia. (Author version will be available soon!)
                </p>
              </div>

              

              <h2> 
                <b> 2018 </b>
              <h2>

              <div class="information-line">
                <p>
                1. <b>Edouard Fouché, Alexander Eckert and Klemens Böhm</b>, "<a href="/IBMDBPY_FOUCHE_SSDBM18.pdf">In-Database Analytics with ibmdbpy</a>", Proceedings of the 30th International Conference on Scientific and Statistical Database Management (SSDBM ’18), July 9–11, 2018, Bozen-Bolzano, Italy. (Short paper)
                </p>
              </div>


    </div>

    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>

    </div>
    </div>

    </div>

        <div class="space"></div>

        {% include footer.html %}

    </div>



  {% include script.html %}

  </body>

</html>