<!doctype html>
<html lang="en">

  {% include head.html %}
  
  <body class="publications">

  {% include navbar.html %}
    

    <div class="space"></div>


    <div class="content-wrapper">
    <div class="container">
    <div class="row" style=" margin-right: 0px ;" >

    <!-- This part is dedicated to the design of the left column -->
    <!-- <div class="col-xs-12 col-md-10"> -->

    <div class="title-wrapper">
        <h1 class="content-title" id="sec0"> 
            Publications
        <h1>
    </div>

    <div class="subcontent-wrapper">
              <h2> 
                <b> 2021 </b>
              <h2>

                <div class="information-line">
                <p>
                <b>Junpei Komiyama, Edouard Fouché, Junya Honda</b>. "<a href="https://arxiv.org/abs/2107.11419" target="_blank">Finite-time Analysis of Globally Nonstationary Multi-Armed Bandits</a>", arXiv:2107.11419 (2021). 
                <b> Supplementary Material:</b> <a href="https://github.com/edouardfouche/G-NS-MAB" target="_blank">GitHub</a>; <a href="/publications/komiyama_gnsbandit.pdf" target="_blank">Slides</a>; <a href="/publications/komiyama_gnsbandit_video2.mp4" target="_blank">Talk</a>. 
                </p>
              </div>

              <div class="information-line">
                <p>
                <b>Edouard Fouché, Florian Kalinke, Klemens Böhm</b>. "<a href="https://doi.org/10.1016/j.is.2020.101705" target="_blank">Efficient Subspace Search in Data Streams</a>", Information Systems 97 (2021), Elsevier. 
                <b> Supplementary Material:</b> <a href="https://github.com/edouardfouche/SGMRD" target="_blank">GitHub</a>; <a href="/publications/Poster_DS32020_SGMRD.pdf" target="_blank">Poster</a>; <a href="https://arxiv.org/abs/2011.06959" target="_blank">Preprint</a>. 
                </p>
              </div>
              

              <h2> 
                <b> 2020 </b>
              <h2>

              

              <div class="information-line">
                <p>
                <b>Edouard Fouché, Yu Meng, Fang Guo, Honglei Zhuang, Klemens Böhm and Jiawei Han</b>. "<a href="/publications/ICDM2020_FOUCHE_CR.pdf" target="_blank">Mining Text Outliers in Document Directories</a>", Proceedings of the 20th IEEE International Conference on Data Mining (ICDM ’20), 2020.
                <b> Supplementary Material:</b> <a href="https://github.com/edouardfouche/MiningTextOutliers" target="_blank">GitHub</a>; <a href="/publications/SLIDES_kjNN_ICDM20.pdf" target="_blank">Slides</a>; <a href="https://youtu.be/6dl3ZBxB3f0" target="_blank">Talk</a>.
                </p>
              </div>

              <div class="information-line">
                <p>
                <b>Edouard Fouché, Alan Mazankiewicz, Florian Kalinke and Klemens Böhm</b>, "<a href="https://link.springer.com/article/10.1007/s10619-020-07295-x" target="_blank">A Framework for Dependency Estimation in Heterogeneous Data Streams</a>", Distributed and Parallel Databases, 2020.
                <b> Supplementary Material:</b> <a href="https://github.com/edouardfouche/MCDE-extended" target="_blank">GitHub</a>.
                </p>
              </div>

              <h2> 
                <b> 2019 </b>
              <h2>

              <div class="information-line">
                <p>
                <b>Edouard Fouché and Klemens Böhm</b>, "<a href="https://dl.acm.org/authorize?N684647" target="_blank">Monte Carlo Dependency Estimation</a>", <span style="color:#00828d"><b>Best Paper Award!</b></span>, Proceedings of the 31st International Conference on Scientific and Statistical Database Management (SSDBM ’19), July 23–25, 2019, Santa Cruz, CA, USA. 
                <b> Supplementary Material:</b> <a href="https://github.com/edouardfouche/MCDE-experiments" target="_blank">GitHub (experiments)</a>; <a href="https://github.com/edouardfouche/MCDE" target="_blank">GitHub (deployment)</a>; <a href="/publications/POSTER_MCDE_SSDBM19.pdf" target="_blank">Poster</a>; <a href="/publications/SLIDES_MCDE_SSDBM19.pdf" target="_blank">Slides</a>.
                </p>
              </div>

              <div class="information-line">
                <p>
                <b>Edouard Fouché, Junpei Komiyama and Klemens Böhm</b>, "<a href="https://dl.acm.org/authorize?N684646" target="_blank">Scaling Multi-Armed Bandit Algorithms</a>", Proceedings of the 25th ACM SIGKDD Conference on Knowledge Discovery and Data Mining (KDD ’19), August 4–8, 2019, Anchorage, AK, USA. 
                <b>Supplementary Material:</b> <a href="https://www.youtube.com/watch?v=wVogcI3fr7Q" target="_blank">Short promotional video </a> (2:50 min); <a href="https://github.com/edouardfouche/S-MAB" target="_blank">GitHub</a>; <a href="https://www.dropbox.com/s/gyrb62ebtcmvy9h/Bioliq_S-MAB.zip" target="_blank">Data</a>; <a href="/publications/POSTER_S-MAB_KDD19.pdf" target="_blank">Poster</a>; <a href="/publications/SLIDES_S-MAB_KDD19.pdf" target="_blank">Slides</a>.
                </p>
              </div>

              <div class="information-line">
                <p>
                <b>Daniel Popovic, Edouard Fouché and Klemens Böhm</b>, "<a href="/publications/NNOHD_POPOVIC_ADBIS19.pdf" target="_blank">Unsupervised Artificial Neural Networks for Outlier Detection in High-Dimensional Data</a>", Proceedings of the 23rd European Conference on Advances in Databases and Information Systems (ADBIS ’19), September 8–11, 2019, Bled, Slovenia. 
                <b>Supplementary Material:</b> <a href="https://github.com/Cognitana-Research/NNOHD" target="_blank">GitHub</a>. 
                </p>
              </div>

              <div class="information-line">
                <p>
                <b>Hasan Ümitcan Yilmaz, Edouard Fouché, Thomas Dengiz, Lucas Krauß, Dogan Keles and Wolf Fichtner</b>, "<a href="/publications/TSR_InformationTechnology.pdf" target="_blank">Reducing Energy Time Series for Energy System Models via Self-Organizing Maps</a>", IT-Information Technology Special Issue: Energy Status Data, 2019. 
                </p>
              </div>

              <div class="information-line">
                <p>
                <b>Avipsa Roy, Edouard Fouché, Rafael Rodriguez Morales, and Gregor Möhler</b>, "<a href="/publications/ACM_SIGSPATIAL2019_ibmdbpy_AV.pdf" target="_blank">In-Database Geospatial Analytics using Python</a>", 2nd ACM SIGSPATIAL International Workshop on Advances on Resilient and Intelligent Cities (ARIC’19), November 5–8, 2019, Chicago, IL, USA. <b>Supplementary Material:</b> <a href="https://github.com/ibmdbanalytics/ibmdbpy" target="_blank">GitHub</a>.
                </p>
              </div>

              

              <h2> 
                <b> 2018 </b>
              <h2>

              <div class="information-line">
                <p>
                <b>Edouard Fouché, Alexander Eckert and Klemens Böhm</b>, "<a href="https://dl.acm.org/authorize?N684648" target="_blank">In-Database Analytics with ibmdbpy</a>", Proceedings of the 30th International Conference on Scientific and Statistical Database Management (SSDBM ’18), July 9–11, 2018, Bozen-Bolzano, Italy. (Short paper). <b>Supplementary Material:</b> <a href="https://github.com/ibmdbanalytics/ibmdbpy" target="_blank">GitHub</a>.
                </p>
              </div>


    </div>

    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>

    <!-- </div> -->
    </div>

    </div>

        <div class="space"></div>

        {% include footer.html %}

    </div>



  {% include script.html %}

  </body>

</html>